doctype html
html(ng-app='MVDliveApp', lang="es")
  head
    title= title
    script(src='/javascripts/angular/angular.js')
    script(src='/javascripts/angular/angular-resource.js')
    script(src='/javascripts/angular/angular-route.js')
    script(src='/javascripts/angularUI/dirPagination.js')
    script(src='/javascripts/bootstrap/js/jquery.js')
    //script(src='/javascripts/bootstrap/js/bootstrap.min.js')
    //script(src='/javascripts/bootstrap/js/bootstrap-select.min.js')
    link(rel='stylesheet' href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' type='text/css' href='materialize/css/materialize.min.css'  media='screen,projection')
    //link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/javascripts/bootstrap/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    script(src='/javascripts/MVDliveApp.js')
    script(src='/javascripts/controllers.js')
  body(class='grey lighten-3')
    //script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')
    script(type='text/javascript' src='materialize/js/materialize.min.js')
    
    include ../public/partials/header.html
    block content
    include ../public/partials/footer.html