

.text-center {
    text-align: center;
}

.encabezado {
	background-color: #286090;
	font-size: 3em;
	padding: 10px;
}


.box {
	background: #18BC9C;
    padding: 10px;
    border: 1px solid #dbdee0;
    margin: 10px 0 20px 0;
}

.box .box-titulo {
    float: left;
    overflow: hidden;
    color: #d9edf7;
    display: block;
    padding-left: 5%;
    padding-top: 2%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.box .box-puntuacion {
    float: right;
    overflow: hidden;
    color: #d9edf7;
    display: block;
    padding-right: 5%;
    padding-top: 2%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.box .box-boton {
    background: #286090;
    padding: 10px;
    display: block;
    font-size: 12px;
    text-align: center;
}