<!-- Navigation -->
<header>    
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom affix-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="http://mvdlive.com"><h1>MVDlive</h1></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden active">
                        <a href="/#"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#listado">Boliches</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/#puntuar">Puntuar</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<!--nav class="navbar navbar-default menu-bg" role="navigation">
  <div class="container">
	  <div class="navbar-header col-md-4 col-sm-5">
	  	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Desplegar navegación</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="http://www.ranking.uy">
            <img class="logo img-responsive" src="../images/logoM.png" alt="">
        </a>
	    <h1>Ranking.UY</h1>
	  </div>

	  <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="HeaderController">
	    <ul class="nav navbar-nav navbar-right">
	      <li ng-class="{ active: isActive('/vote')}"><a href="/#/vote" data-toggle="collapse" data-target=".navbar-ex1-collapse">VOTAR</a></li>
	      <li ng-class="{ active: isActive('/ranking')}"><a href="/#/ranking" data-toggle="collapse" data-target=".navbar-ex1-collapse">RANKING</a></li>
	      <li ng-class="{ active: isActive('/lineup')}"><a href="/#/lineup" data-toggle="collapse" data-target=".navbar-ex1-collapse">11 IDEAL</a></li>
	      <li ng-class="{ active: isActive('/rankClubs')}"><a href="/#/rankClubs" data-toggle="collapse" data-target=".navbar-ex1-collapse">EQUIPOS</a></li>
	      <li ng-class="{ active: isActive('/nosotros')}"><a href="/#/nosotros"  data-toggle="collapse" data-target=".navbar-ex1-collapse">NOSOTROS</a></li>
	    </ul>
	
	  </div>
  </div>
</nav-->

<!-- SEGUIMIENTO DE GOOGLE -->
